[tool.ruff]
line-length = 120

exclude = [
    ".venv",
    "build",
    "dist",
    "__pycache__",
]

[tool.ruff.lint]
select = ["E", "F", "W", "D101", "D102", "D103"]
ignore = ["E501","F821","F722","D104"]


[tool.ruff.lint.isort]
lines-after-imports = 1
length-sort = true

[tool.ruff.format]
quote-style = "single"
indent-style = "space"
